@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,500;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/** START Global Components  */

.basicForm50x50 {
  @apply flex h-[50%] w-[50%] flex-col items-center justify-center rounded-sm bg-principal shadow-xl;
}

.flexContainer100x100 {
  @apply flex h-[100vh] w-[100vw] items-center justify-center outline;
}

.inputContainer {
  @apply flex h-max w-full items-center justify-around border-b-secondary pb-5 text-base;
}

.select {
  @apply h-10 w-full flex-1 rounded-md  text-center text-secondary focus:border-none focus:outline-none;
}

.submitBtn {
  @apply rounded-2xl bg-white p-1 px-6 text-base text-black transition duration-300 hover:cursor-pointer hover:border-transparent hover:bg-principal hover:text-white;
}

.modalTitle {
  @apply mb-2 w-full border-b-2 border-b-white pb-2 text-center text-white;
}

/** END Global Components */

.Toastify__toast {
  border: 2px solid #006473;
  width: 250px;
  border-radius: 5px !important;
  text-align: center;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body,
body::after,
body::before,
html,
html::after,
html::before {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #006473;
  border-radius: 5px;
}
